@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(..//Imagens/imagens/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}

.iphone {
    display: block;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
    position: relative;
    top: 60px;
}